.swiper{
    max-width: 650px;
    max-height: 306px;
    border: none;
}
.slider-block{
    margin: auto;
    max-width: 650px;
    max-height: 306px;
}
.ts-swiper{
    max-height: 306px;
    max-width: 650px;
}
.swiper-slide{
    max-height: 306px;
    max-width: 650px;
    text-align: center;
    background-color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.swiper-slide img{
    max-width: 650px;
    max-height: 306px;
    object-fit: cover;
}

.swiper-button-next{
    right: -20px;
    --swiper-theme-color: white;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    --swiper-theme-color: white;
    color: white;

}
 .swiper-button-prev{
     --swiper-theme-color: white;
     color: white;
}


